$transitionParams: 300ms ease-in-out all;

@mixin transition($transitionParams) {
  -webkit-transition: $transitionParams;
  -moz-transition: $transitionParams;
  -o-transition: $transitionParams;
  transition: $transitionParams;
}

.error-box {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  color: white;
  padding: 20px;
  border-radius: 5px;
  background: red;
  @include transition($transitionParams);
  z-index: 10;

  .error-container {
    margin-right: 20px;

    .error-description {
      margin-bottom: 8px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.error__delete_btn {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: transparent;
  position: relative;
  cursor: pointer;

  &:before, &:after {
    content: "";
    width: 2px;
    height: 20px;
    background: #f3f3f3;
    position: absolute;
    top: 0;
    left: 47%;
    cursor: pointer;
    @include transition($transitionParams);
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    background: rgba(255, 0, 0, 0.46);
    &:before {
      transform: rotate(135deg);
    }

    &:after {
      transform: rotate(45deg);
    }

    @include transition($transitionParams);
  }
}