.display-none {
  display: none !important;
}

.overflowHidden {
  overflow: hidden;
}

.add-board {
  width: 100%;
  height: 100%;
}
.add-board .add-board__popapp {
  display: flex;
  background: rgba(35, 35, 35, 0.75);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
}
.add-board .add-board__popapp .add-board__container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #a8a8a8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.add-board .add-board__popapp .add-board__container .add-board__input-container {
  position: relative;
}
.add-board .add-board__popapp .add-board__container .progress {
  background: transparent;
  border: 1px solid #232323;
}
.add-board .add-board__popapp .add-board__container .progress .progress-bar {
  background: teal;
}
.add-board .add-board__popapp .add-board__container .add-board__errorHint {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffa9a9;
  border-radius: 5px;
  border: 2px solid rgba(255, 34, 34, 0.56);
  padding: 5px;
  z-index: 1;
  width: 100%;
  margin-left: -6px;
  margin-top: 5px;
}
.add-board .add-board__popapp .add-board__container .add-board__create-new-board {
  width: fit-content;
  margin-top: 8px;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}
.add-board .add-board__popapp .add-board__container .add-board__create-new-board:hover {
  background: #dedede;
}
.add-board .add-board__popapp .add-board__container input[type=text] {
  width: 200px;
  height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: none;
}
.add-board .add-board__popapp .add-board__container .add-board__close-btn {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-bottom: 8px;
  align-self: flex-end;
}
.add-board .add-board__popapp .add-board__container .add-board__close-btn:before, .add-board .add-board__popapp .add-board__container .add-board__close-btn:after {
  content: "";
  width: 2px;
  height: 20px;
  background: #f3f3f3;
  position: absolute;
  top: 0;
  left: 50%;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out all;
  -moz-transition: 300ms ease-in-out all;
  -o-transition: 300ms ease-in-out all;
  transition: 300ms ease-in-out all;
}
.add-board .add-board__popapp .add-board__container .add-board__close-btn:before {
  transform: rotate(45deg);
}
.add-board .add-board__popapp .add-board__container .add-board__close-btn:after {
  transform: rotate(-45deg);
}
.add-board .add-board__popapp .add-board__container .add-board__close-btn:hover {
  -webkit-transition: 300ms ease-in-out all;
  -moz-transition: 300ms ease-in-out all;
  -o-transition: 300ms ease-in-out all;
  transition: 300ms ease-in-out all;
}
.add-board .add-board__popapp .add-board__container .add-board__close-btn:hover:before {
  transform: rotate(140deg);
}
.add-board .add-board__popapp .add-board__container .add-board__close-btn:hover:after {
  transform: rotate(45deg);
}
.add-board .create-new-board-begin {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #777777;
  -webkit-transition: 300ms ease-in-out all;
  -moz-transition: 300ms ease-in-out all;
  -o-transition: 300ms ease-in-out all;
  transition: 300ms ease-in-out all;
}
.add-board .create-new-board-begin span {
  margin-right: 3px;
  -webkit-transition: 300ms ease-in-out all;
  -moz-transition: 300ms ease-in-out all;
  -o-transition: 300ms ease-in-out all;
  transition: 300ms ease-in-out all;
}

/*# sourceMappingURL=addBoard.css.map */
