.lists {
  padding: 8px;

  .lists-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .lists-title {
      padding-left: 3px;
      margin-bottom: 5px;
    }
    .lists__delete-btn {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 3px;
      transition: 300ms ease-in-out all;
      margin-bottom: 6px;

      svg {
        color: #7a7a7a;
      }

      &:hover {
        transition: 300ms ease-in-out all;
        background: #e0e0e0;
      }
    }
  }
  .lists-list {
    padding: 0;
    margin: 0;
  }
  .lists-element {
    list-style: none;
    background: transparent;
    margin-bottom: 5px;
    border-radius: 3px;
    white-space: normal;
    transition: 300ms ease-in-out all;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
