.list-item {

  .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .editable-list-title {

      .list-title {
        padding-left: 3px;
        margin-bottom: 5px;
      }

      input[type="text"] {
        width: 230px;
        outline: none;
        border: 2px solid #7a7a7a;
        border-radius: 3px;
        padding: 2px 5px;
        box-sizing: border-box;
        margin-left: -3px;
        margin-top: -3px;
        font-weight: bold;
      }
    }

    .list__delete-btn {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 3px;
      transition: 300ms ease-in-out all;
      margin-bottom: 6px;

      svg {
        color: #7a7a7a;
      }

      &:hover {
        transition: 300ms ease-in-out all;
        background: #e0e0e0;
      }
    }
  }
  .list-card-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;

        /* width */
        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;

        }
    
        /* button */
        &::-webkit-scrollbar-button {
          width: 0; 
          height: 0;
        }
    
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: rgb(179, 179, 179); 
        }
    
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: rgb(186, 214, 233);
        }
    
        /* Track */
        &::-webkit-scrollbar-track {
          background: rgb(235, 235, 235); 
        }
    
        /* The track NOT covered by the handle.
        ::-webkit-scrollbar-track-piece {
          background: #000; 
        }
    
        /* Corner */
        &::-webkit-scrollbar-corner {
          background: #999; 
          border-radius: 50%;
        }
    
        /* Resizer */
        &::-webkit-resizer {
          background: #111;
          border-radius: 50%; 
        }
  }

  .list-cards {
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;

    .card-wrapper {
      margin-bottom: 5px;
    }
  }

  .list-add-card {
    list-style: none;
    background: transparent;
    border-radius: 3px;
    white-space: normal;
    transition: 300ms ease-in-out all;
  }
}
