.add-card__container .add-card__input-box {
  background: transparent;
  margin-top: 8px;
}
.add-card__container .add-card__input-box .add-card__input-field {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  outline: navajowhite;
  border: 2px solid rgba(61, 61, 61, 0.33);
}
.add-card__container .add-card__input-box .add-card__btn-box {
  display: flex;
}
.add-card__container .add-card__input-box .add-card__btn-box .add-card__add-btn-run {
  background: none;
  color: white;
  height: 100%;
  cursor: pointer;
  transition: 300ms ease-in-out all;
  padding: 10px 10px;
  width: auto;
  background: #787878;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}
.add-card__container .add-card__input-box .add-card__btn-box .add-card__add-btn-run:hover {
  background: #9a9a9a;
}
.add-card__container .add-card__input-box .add-card__btn-box .add-card__close-btn {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  align-self: center;
}
.add-card__container .add-card__input-box .add-card__btn-box .add-card__close-btn:before, .add-card__container .add-card__input-box .add-card__btn-box .add-card__close-btn:after {
  content: "";
  background: #000;
  width: 2px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out all;
  -moz-transition: 300ms ease-in-out all;
  -o-transition: 300ms ease-in-out all;
  transition: 300ms ease-in-out all;
}
.add-card__container .add-card__input-box .add-card__btn-box .add-card__close-btn:before {
  transform: rotate(45deg);
}
.add-card__container .add-card__input-box .add-card__btn-box .add-card__close-btn:after {
  transform: rotate(-45deg);
}
.add-card__container .add-card__input-box .add-card__btn-box .add-card__close-btn:hover {
  -webkit-transition: 300ms ease-in-out all;
  -moz-transition: 300ms ease-in-out all;
  -o-transition: 300ms ease-in-out all;
  transition: 300ms ease-in-out all;
}
.add-card__container .add-card__input-box .add-card__btn-box .add-card__close-btn:hover:before {
  transform: rotate(140deg);
}
.add-card__container .add-card__input-box .add-card__btn-box .add-card__close-btn:hover:after {
  transform: rotate(45deg);
}
.add-card__container .add-card__add-btn-start {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  transition: 300ms ease-in-out all;
  border-radius: 5px;
  margin-top: 8px;
}
.add-card__container .add-card__add-btn-start:hover {
  box-sizing: border-box;
  background: #eeeeee;
  transition: 300ms ease-in-out all;
  cursor: pointer;
  color: #000000;
}
.add-card__container .add-card__add-btn-start:hover {
  transition: 300ms ease-in-out all;
  -webkit-box-shadow: 0 0 19px -5px rgba(0, 0, 0, 0.27);
  box-shadow: 0 0 19px -5px rgba(0, 0, 0, 0.27);
  background: #c4c4c4;
  -webkit-transition: 300ms ease-in-out all;
  -moz-transition: 300ms ease-in-out all;
  -o-transition: 300ms ease-in-out all;
  transition: 300ms ease-in-out all;
}

/*# sourceMappingURL=addCard.css.map */
